<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="title">Посада</nz-form-label>
    <nz-form-control
      nzErrorTip="Введіть педагогічне звання"
      [nzSm]="14"
      [nzXs]="24"
    >
      <input
        nz-input
        id="title"
        [(ngModel)]="position.name"
        [ngModelOptions]="{ standalone: true }"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="money"
      >Відсоток для додаткових виплат</nz-form-label
    >
    <nz-form-control
      nzErrorTip="Введіть кількість співробітників"
      [nzSm]="14"
      [nzXs]="24"
    >
      <input
        nz-input
        id="money"
        type="number"
        min="0"
        max="100"
        [(ngModel)]="position.percent"
        [ngModelOptions]="{ standalone: true }"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="rate"
      >Розряд</nz-form-label
    >
    <nz-form-control nzErrorTip="Введіть розряд" [nzSm]="14" [nzXs]="24">
      <nz-select
        [(ngModel)]="position.rate"
        [ngModelOptions]="{ standalone: true }"
        id="title"
      >
        <nz-option
          *ngFor="let item of rateList"
          [nzValue]="item.id"
          [nzLabel]="getRateLabel(item)"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">Закрити</button>
  <button nz-button nzType="primary" (click)="save()">Зберегти</button>
</div>
